<?xml version="1.0" encoding="UTF-8" ?>
<config>
    <device>pcduino</device> <!-- pc, pcduino -->   
    <server_ip>106.240.234.10</server_ip><!-- cloud server ip   server ip 106.240.234.10 -->   
    <server_port>7000</server_port><!-- cloud server port  server port 7000 -->   
    <serial_port>/dev/ttyS1</serial_port><!-- serial port pcduino defalut /dev/ttyS1 -->   
    <close_server_port>9901</close_server_port> <!-- close server ip -->   
    <id_info_path>/home/ubuntu/Mediafarm/MediafarmSetup/config/TinyFarmer.xml</id_info_path> <!-- device id xml file path-->
    <cpp_file_path>/home/ubuntu/Arduino/pcduino_io.cpp</cpp_file_path><!-- pcduino_io.cpp file path -->   
</config>